@property --hue {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes RGBMode {
  from {
    --hue: 0deg;
  }
  to {
    --hue: 360deg;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#canvas {
  width: 320px;
  height: 200px;
  filter: saturate(var(--saturate, 100%)) contrast(var(--contrast, 100%))
    hue-rotate(var(--hue-shift, 0deg));
}

#canvas.rgb-mode {
  filter: saturate(var(--saturate, 100%)) contrast(var(--contrast, 100%))
    hue-rotate(var(--hue, 0deg));
}

.rgb-mode {
  animation-name: RGBMode;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
